@font-face {
  font-family: "CircularStd-Medium";
  src: url(../fonts/CircularStd-Medium.woff);
}

@font-face {
  font-family: "SofiaProBold";
  src: url(../fonts/SofiaProBold.woff);
}

@font-face {
  font-family: "SofiaProMedium";
  src: url(../fonts/SofiaProMedium.woff);
}

.container {
  display: grid;
  width: 100vw;
  height: 100%;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
}

.header {
  grid-column: 2/3;
  grid-row: 1/2;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  min-height: 70px;
  height: 10vh;
}

.burger-menu {
  display: none;
}

.navbar {
  display: flex;
  width: 600px;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  padding-right: 30px;
}

nav ul {
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  font-family: CircularStd-Medium, sans-serif;
  color: black;
}

.navbar a:hover {
  border-bottom: 2px solid black;
  padding-bottom: 5px;
  color: #000000; /* Цвет текста */
  -webkit-text-stroke: 1px #000000; /* Толщина и цвет обводки */
  stroke: #000000; /* Толщина и цвет обводки (стандартное свойство) */
}

.leftside {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  padding-right: 20px;
}

.cart {
  width: 15px;
  padding-right: 20px;
  margin-top: 5px;
}

.login {
  width: 15px;
  padding-right: 10px;
  margin-top: 5px;
}

input {
  border: none;
  top: 15px;
  right: 10px;
}

.search_logo {
  width: 20px;
}

.search {
  position: relative;
  box-sizing: border-box;
}

form {
  position: absolute;
  left: 50px;
  bottom: 3px;
}

main {
  grid-column: 2/3;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 0.7rem;
  width: 85vw;
}

.pic1 {
  grid-column: 1/3;
  grid-row: 1/2;
  background-image: url(../img/pic11.png);
  width: auto;
  padding-bottom: 20%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.text_inside_pic1 {
  position: absolute;
  top: 50%;
}

.pic1 a {
  text-decoration: none;
}

.text1 {
  box-sizing: border-box;
  margin: 0;
  font-family: SofiaProBold, sans-serif;
  font-size: 1.5em;
  color: #000000;
  text-align: center;
}

.pic2 {
  grid-column: 1/3;
  grid-row: 2/3;
  background-image: url(../img/pic2.png);
  width: auto;
  padding-bottom: 20%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.pic3 {
  grid-column: 3/4;
  grid-row: 1/3;
  background-image: url(../img/pic3.png);
  width: auto;
  padding-bottom: 130%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.pic4 {
  grid-column: 4/5;
  grid-row: 1/3;
  background-image: url(../img/pic4.png);
  width: auto;
  padding-bottom: 130%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.pic5 {
  grid-column: 1/2;
  grid-row: 3/5;
  background-image: url(../img/pic5.png);
  width: auto;
  padding-bottom: 130%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.pic6 {
  grid-column: 2/3;
  grid-row: 3/5;
  background-image: url(../img/pic6.png);
  width: auto;
  padding-bottom: 130%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.like {
  width: 30px;
  right: 18px;
  padding: 10px;
}

.pic7 {
  grid-column: 3/5;
  grid-row: 3/4;
  background-image: url(../img/pic71.png);
  width: auto;
  padding-bottom: 20%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  position: relative;
}

.text_inside_pic7 {
  position: absolute;
  top: 30%;
}

.pic7 a,
.pic8 a {
  text-decoration: none;
}

.bluetext,
.colortext,
.text7,
.text8 {
  box-sizing: border-box;
  margin: 5px;
  margin-left: 20px;
}

.text7,
.text8 {
  font-family: SofiaProMedium, sans-serif;
  font-size: 0.75rem;
}

.bluetext {
  font-family: SofiaProBold, sans-serif;
  color: #001aa2;
  font-size: 1.4rem;
}

.colortext {
  font-family: SofiaProBold, sans-serif;
  color: #040303;
  font-size: 1.4rem;
}

.pic8 {
  grid-column: 3/5;
  grid-row: 4/5;
  background-image: url(../img/pic81.png);
  background-color: rgba(227, 223, 223, 0.863);
  width: auto;
  padding-bottom: 20%;
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  border-radius: 10px;
  position: relative;
}

.text_inside_pic8 {
  position: absolute;
  top: 60%;
}

.sidebar {
  grid-column: 1/2;
  grid-row: 1/3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 15px;
  width: 15vw;
}

.main_logo {
  width: 80px;
  box-sizing: border-box;
  margin-left: 30px;
}

h1 {
  font-family: SofiaProBold, sans-serif;
  margin-bottom: 25px;
  padding-left: 30px;
  padding-top: 20px;
  font-size: 2em;
}

.sidebar p {
  font-family: SofiaProMedium, sans-serif;
}

.sidebar ul {
  list-style-type: none;
  box-sizing: border-box;
}

.sidebar a {
  text-decoration: none;
  color: #000000;
}

.helpcenter {
  margin-top: auto;
  align-self: center;
}

.p1,
.p2,
.p3,
.p4,
.p5,
.p6,
.p7,
.help {
  position: relative;
}

.new_in {
  position: absolute;
  width: 20px;
  right: 100%;
  bottom: 1px;
}

.clothing {
  position: absolute;
  width: 20px;
  right: 100%;
  bottom: 1px;
}

.shoes {
  position: absolute;
  width: 20px;
  right: 100%;
  bottom: 1px;
}

.bag {
  position: absolute;
  width: 20px;
  right: 100%;
  bottom: 1px;
}

.gym {
  position: absolute;
  width: 20px;
  right: 100%;
  bottom: 1px;
}

.gifts {
  position: absolute;
  width: 20px;
  right: 100%;
  bottom: 1px;
}

.diamond {
  position: absolute;
  width: 20px;
  right: 100%;
  bottom: 1px;
}

.bubble {
  position: absolute;
  width: 30px;
  right: 100%;
  bottom: 1px;
}

@media screen and (max-width: 1004px) {
  .navbar {
    max-width: 500px;
    flex-wrap: wrap;
  }

  .sidebar {
    width: 20vw;
  }

  main {
    max-width: 80vw;
  }

  .text_inside_pic1 {
    top: 40%;
  }

  .text1 {
    font-size: 1rem;
  }

  .text7,
  .text8 {
    font-size: 0.5rem;
  }

  .bluetext {
    font-size: 1rem;
  }

  .colortext {
    font-size: 1rem;
  }

  h1 {
    font-size: 1rem;
  }

  .sidebar ul li p,
  .help {
    font-size: 0.7rem;
  }

  .new_in,
  .clothing,
  .shoes,
  .bag,
  .gym,
  .gifts,
  .diamond,
  .bubble {
    right: 110%;
  }
}

@media screen and (max-width: 942px) {
  .leftside {
    display: none;
  }

  .burger-menu {
    display: block;
  }

  .menu-btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 100;
  }

  .menu-btn > span,
  .menu-btn > span::before,
  .menu-btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: 0.25s;
  }
  .menu-btn > span::before {
    content: "";
    top: -8px;
  }
  .menu-btn > span::after {
    content: "";
    top: 8px;
  }

  .menubox {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #eceff1cc;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    transition-duration: 0.25s;
    z-index: 1;
  }

  .menu-item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: CircularStd-Medium, sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: 0.25s;
  }
  .menu-item:hover {
    background-color: #cfd8dc;
  }

  #menu-toggle {
    opacity: 0;
  }

  #menu-toggle:checked ~ .menu-btn > span {
    transform: rotate(45deg);
  }
  #menu-toggle:checked ~ .menu-btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu-toggle:checked ~ .menu-btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu-toggle:checked ~ .menubox {
    visibility: visible;
    right: 0;
  }
}

@media screen and (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .main_logo {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  header {
    margin-top: 50px;
  }

  .type {
    font-size: 0.7rem;
  }

  .search_logo {
    width: 10px;
  }

  form {
    left: 15px;
    bottom: 1px;
  }

  .sidebar {
    order: 2;
    width: 100vw;
    align-items: center;
  }

  h1 {
    margin-bottom: 25px;
    top: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 2em;
  }

  .sidebar ul li p,
  .help {
    font-size: 1.2rem;
  }

  main {
    order: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, auto);
  }

  .pic1 {
    grid-column: 1/3;
    grid-row: 1/2;
    width: 100vw;
    height: 17vw;
  }

  .text1 {
    font-size: 1.5rem;
  }

  .pic2 {
    grid-column: 1/3;
    grid-row: 2/3;
    width: 100vw;
    height: 17vw;
  }

  .pic3 {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .pic4 {
    grid-column: 2/3;
    grid-row: 3/4;
  }

  .pic7 {
    grid-column: 1/3;
    grid-row: 4/5;
    width: 100vw;
    height: 17vw;
  }

  .pic8 {
    grid-column: 1/3;
    grid-row: 5/6;
    width: 100vw;
    height: 17vw;
  }

  .pic5 {
    grid-column: 1/2;
    grid-row: 6/7;
  }

  .pic6 {
    grid-column: 2/3;
    grid-row: 6/7;
  }

  .text7,
  .text8 {
    font-size: 0.9rem;
  }

  .bluetext {
    font-size: 1.5rem;
  }

  .colortext {
    font-size: 1.5rem;
  }

  .text_inside_pic7 {
    position: absolute;
    top: 40%;
  }

  .text_inside_pic8 {
    position: absolute;
    top: 50%;
  }

  .menu-btn {
    top: 70px;
  }
}
